<GridLayout rows="auto, *" class="page">
  <vc-header row="0" left="back"></vc-header>
  <RadListView
    row="1"
    #componentListView
    [items]="dataItems"
    [itemTemplateSelector]="templateSelector"
    pullToRefresh="true"
    (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
    >

    <!-- STANDARD TEMPLATE -->
    <ng-template tkListItemTemplate tkTemplateKey="standard" let-item="item">
      <GridLayout rows="*" columns="*, auto" class="contest" (tap)="onContestTap(item)">
        <Label col="0" [text]="item.name" class="name"></Label>
        <Label col="1" [text]="item.created | date: 'LLL dd h:mm a'" style="font-size:12;color:#787878"></Label>
      </GridLayout>
    </ng-template>   

    <!-- EMPTY TEMPLATE -->
    <ng-template tkListItemTemplate tkTemplateKey="empty" let-item="item">
      <StackLayout orientation="vertical" class="no-items">
        <StackLayout style="padding: 40 0 40 0">
          <Label text="There are no current contests"></Label>
          <Label text="Pull down to refresh" style="font-size:12;color:#ababab"></Label>
        </StackLayout>
      </StackLayout>
    </ng-template> 

  </RadListView>  
</GridLayout>