<GridLayout rows="auto, *" class="page">
  <vc-header row="0" left="back"></vc-header>
  <RadListView
    row="1"
    #mySaleListView
    [items]="coinItems"
    [itemTemplateSelector]="templateSelector"
    pullToRefresh="true"
    (pullToRefreshInitiated)="onPullToRefreshSaleInitiated($event)"
    swipeActions="true"
    (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
    (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
    (itemSwipeProgressChanged)="onCellSwiping($event)"
    >
    <ng-template tkListItemTemplate tkTemplateKey="sale" let-item="item">
      <StackLayout style="padding:15;background-color: #ffffff" (tap)="onItemTap(item)">
        <GridLayout rows="*" columns="*,auto">
          <Label col="0" text="1 Viral Coin"></Label>
          <Label col="1" [text]="'$' + ((item.price / 100) | number:'1.2')" style="font-weight:bold;font-size:12;color:#787878"></Label>
        </GridLayout>
      </StackLayout>
    </ng-template>  

    <ng-template tkListItemTemplate tkTemplateKey="coin" let-item="item">
      <StackLayout style="padding:15;background-color: #ffffff" (tap)="onItemTap(item)">
        <GridLayout rows="*" columns="*,auto">
          <Label col="0" [text]="item.code"></Label>
          <Label col="1" [text]="item.value | number:'1.2'" style="font-weight:bold;font-size:12;color:#787878"></Label>
        </GridLayout>
      </StackLayout>
    </ng-template>  

    <!-- EMPTY TEMPLATE -->
    <ng-template tkListItemTemplate tkTemplateKey="empty" let-item="item">
      <StackLayout orientation="vertical" class="no-items">
        <StackLayout style="padding: 40 0 40 0;background-color: #ffffff">
          <Label text="There are no coins for sale"></Label>
          <Label text="Pull down to refresh" style="font-size:12;color:#ababab"></Label>
        </StackLayout>
      </StackLayout>
    </ng-template>   

    <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
      <GridLayout rows="*" id="delete-view" col="2" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
        <Label row="0" text="delete" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
      </GridLayout>
    </GridLayout>

  </RadListView>
</GridLayout>