<div class="jumbotron">
  <p class="lead" style="color: #787878">
    Join in a real life treasure hunt for my coins and cool prizes. Each week we hide coins in the real world and your job is to find them. Find them and prize is yours. Plus, adding a coin to your wallet keeps your account's value growing.
  </p>
  <!-- <div class="video-responsive" style="text-align:center">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tHqa0OlXhTc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->
  <hr class="my-4">
  <h3 style="font-weight:700;text-align:center">Follow us on social media</h3>
  <p class="lead" style="text-align:center">
    Be the first to know when and where the next coin drop is
  </p>
  <p class="social-media">
    <a href="https://www.youtube.com/channel/UCrYygyOdBFjhaI9baDX2Ydw" target="_blank"><i class="fab fa-youtube" style="color:#DB0000"></i></a>&nbsp;
    <a href="https://twitter.com/viralcoinsco" target="_blank"><i class="fab fa-twitter" style="color:#5EA0EF"></i></a>&nbsp;
    <a href="https://www.instagram.com/viralcoinsco/" target="_blank"><i class="fab fa-instagram" style="color:#2A2A2A"></i></a>&nbsp;
    <a href="https://www.facebook.com/pg/Viral-Coins-277545172948297" target="_blank"><i class="fab fa-facebook" style="color:#5067AF"></i></a>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm" style="text-align:center;margin-bottom:20px">
      <h3>Find Coins</h3>
      <p>This is a real world treasure hunt. It's simple: we hide coins, you find them. </p>
      <a [routerLink]="['/find']" class="btn btn-primary">See the map</a>
    </div>
    <div class="col-sm" style="text-align:center;margin-bottom:20px">
      <h3>Earn Prizes</h3>
      <p>Each coin you find has a prize attached to it. Find the coin, earn the prize.</p>
      <button class="btn btn-primary">See the prizes</button>
    </div>
    <div class="col-sm" style="text-align:center;margin-bottom:20px">
      <h3>Make Money</h3>
      <p>Once you find a coin, make it go viral. The more popular the coin, the more it's worth.</p>
      <button class="btn btn-primary">See How</button>
    </div>
  </div>
</div>
