ActionBar {
  color: #ffffff;
}

.home-header Label {
  color:#ffffff;
  font-size:20;
}

.offer-list-item {
  background-color: #ffffff;
  padding: 10;
}

.offer-list-item .status {
  margin-left: 5;
}

.offer-list-item .value {
  font-weight:bold;
  font-size:12;
  color:#787878;
}