<GridLayout rows="auto, *" class="page">
  <StackLayout row="0" style="background-color:#1485CC">    
    <GridLayout columns="*, auto">
      <StackLayout col="0" style="padding:20">
        <Label text="COIN VALUE" style="color:#ffffff;font-size:12"></Label>
        <Label text="{{coin?.value | number: '1.2'}}VC" style="color:#ffffff;font-size:40;font-weight:bold"></Label>
      </StackLayout>
      <StackLayout col="1">
        <Label class="icon close" (tap)="onClose()" text="&#xf00d;" style="padding:10;color:#ffffff"></Label>
      </StackLayout>
    </GridLayout>
  </StackLayout>    
  <GridLayout row="1" rows="*, auto">
    <StackLayout row="0">
      <StackLayout class="panel form" style="margin-top:15">
        <Label text="Make an offer" class="label"></Label>
        <GridLayout columns="auto, *" rows="auto" class="input input-border">
          <Label col="0" class="icon" text="&#xf155;"></Label>
          <TextField [(ngModel)]="offer" col="1" hint="Offer amount" style="margin-left:5" keyboardType="number"></TextField>
        </GridLayout>      
      </StackLayout>
    </StackLayout>
    <StackLayout row="1" style="padding: 10;background-color: #eeeeee">
      <Button text="Submit" class="btn btn-primary" style="margin:0" (tap)="onSubmitTap()"></Button>      
    </StackLayout>
  </GridLayout>
</GridLayout>