FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-color: #1485CC;
  color: #ffffff;
}
StackLayout {
  width: 300;
  padding: 10 16;
}

Image {
  margin-bottom: 30;
  height: 70;
}
Button, TextField {
  margin-bottom: 10;
}
.btn-primary {
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
  color: #000000;
}
TextField {
  placeholder-color: #C4AFB4;
  color: black;
  background-color: #ffffff;
}

TextField.input {
  border-radius: 10;
  background-color: #ffffff;
}
