Label.icon {
  margin: 15;
}

Label.header {
  font-weight: bold;
  font-size: 30;
  margin: 0 15 0 15;
}

Label.content {
  margin: 15;
}

.coin .label {
  text-align: center;
  font-size: 12;
  color: #787878;
}

.coin .amount {
  text-align: center;
  font-size: 40;
  font-weight: bold;
}

.code {
  text-align: center;
}

.detail-action-bar .icon {
  color: #606f7b;
  font-size: 18;
  vertical-align: middle;
  text-align: center;
}

.detail-action-bar .btn {
  border-color: transparent;
  border-width: 1;
  margin-top: 10;
  width: 40;
  min-width: 40;
}

.detail-modal-content {
  background-color: #f1f5f8;
}

.detail-modal-content .detail-modal-info {
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 5;
  border-color: #f1f5f8;
  border-width: 1;
  margin-left: 15;
  margin-right: 15;
}

.detail-modal-content .detail-modal-info .amount {
  font-size: 50;
  font-weight: bold;
  color: #22292f;
}
