<div class="container">  
  <h4 style="font-weight:600">There are three ways to generate new coins</h4>
  <ol>
    <li>Find one of the coins hidden around the <b>Greater Orlando Area</b>.</li>
    <li>Promote 100 coins</li>
    <li>Purchase your own Viral Coin</li>
  </ol>
  <p class="text-justify">
    Each Thursday I will post a video on my <a href="https://www.youtube.com/channel/UCrYygyOdBFjhaI9baDX2Ydw">YouTube Channel</a> showing the new locations of where they are hidden. <b>DON'T FORGET TO SUBSCRIBE</b>.
  </p>
  <p class="text-justify">
    Next, you <a [routerLink]="['/find']">find</a> the coins. Each coin has a unique QR code that you scan to add it your wallet.
  </p>
  <p class="text-justify">
    The first person to find it will win a prize associated with the coin. These prizes can be anything from a <b>$10 Amazon Gift Card</b> to an <b>XBox One</b>
  </p>
  <p class="text-justify">
    Once you've found a coin the value of the coin will increase as you share the coin and have others add the coin to their wallets. The more viral a coin goes, the more value it creates for you.
  </p>
  <p class="text-justify">
    Now, <a [routerLink]="['/find']">head over to the map</a> and see what you can find.
  </p>
</div>
